/** General **/
.smartTypers-popout {
  filter: blur(1px);
}

.typing-user.clickable {
  cursor: pointer !important;
}

.typing-user .gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, var(--smartTypers-primary), var(--smartTypers-secondary));
}

/** Settings **/
.smartTypers-preview {
  padding: 8px;
  background-color: var(--background-secondary);
  margin-bottom: 40px;
  border-radius: 5px !important;
}

.smartTypers-preview [class|='typing'] {
  position: initial !important;
}

.smartTypers-preview + div, .smartTypers-title {
  margin-bottom: 20px;
}

.smartTypers-slider {
  margin: 20px 25px 0;
  width: calc(100% - 50px);
}

.smartTypers-slider [class|='markValue'] {
  white-space: nowrap;
}

.smartTypers-beta {
  display: inline-block;
  background: #f04747;
  color: #fff;
  margin-left: 6px;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 10px;
}

.smartTypers-input {
  margin-bottom: 5px;
}

.smartTypers-input:not(.disabled-29eJ21):hover {
  border-color: rgba(114, 137, 218, .3);
}

.smartTypers-variable {
  margin-right: 5px;
}
